.link
{
    text-decoration: none;
    background: none;
    border: 0;
}


.btn
{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn-primary
{
    color: #fff;
    background-color: #3943B7;
    border-color: #3943B7;
}

.btn-danger
{
    color: #fff;
    background-color: #B6174B;
    border-color: #B6174B;
}

.btn-warning
{
    color: #fff;
    background-color: #E08E45;
    border-color: #E08E45;
}