/*
    CSS User Interface Library
    Modern-IS-UI
    By J. Skarbalius (2023, j.skarbalius@lancaster.ac.uk)
    Part of Information Systems Assesment (Summer Term Project)
    All rights reserved, 2023
 */
 @import "buttons.css";
 @import "font.css";
 @import "layout.css";
 @import "form-control.css";
 @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;0,600;0,700;1,400;1,500&display=swap');


 html, body{
    font-size: 16px;
    min-height: 100vh;
 }

 * {
     margin: 0;
     padding: 0;
     font-family: 'Plus Jakarta Sans', sans-serif;
 }



